
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-content>
      <div>
        <img class="megaTotal" src="assets/maillon-bleu.png" style="width : 15% ; height : 15%">
        <p *ngIf="megaTotal" id="total" class="megaTotaltext">{{megaTotal}}</p>
        <p class="megaTotalLabel">TOTAL</p>
      </div>

      <div>
        <img class="joueur1" src="assets/timer.png" style="width : 25% ; height : 12%">
        <ion-input class="joueur1text" style="width : 15% ; height : 15%"></ion-input>
      </div>

      <div>
        <img class="joueur2" src="assets/timer.png" style="width : 25% ; height : 12%">
        <ion-input class="joueur2text" style="width : 15% ; height : 15%"></ion-input>
      </div>

     
        <ion-grid class="grid">
      
          <ion-row>
            <ion-col>
              <img id="maillon1" src="assets/maillon-bleu.png" style="width : 80% ; height : 80%">
            </ion-col>
            <ion-col>
              <img id="maillon3" src="assets/maillon-bleu.png" style="width : 80% ; height : 80%">
            </ion-col>
            <ion-col>
              <img id="maillon5" src="assets/maillon-bleu.png" style="width : 80% ; height : 80%">
            </ion-col>
            <ion-col>
              <img id="maillon7" src="assets/maillon-bleu.png" style="width : 80% ; height : 80%">
            </ion-col>
            <ion-col>
              <img id="maillon9" src="assets/maillon-bleu.png" style="width : 80% ; height : 80%">
            </ion-col>
          </ion-row>  

          <ion-row>
            <ion-col>
              <img id="maillon2" src="assets/maillon-bleu.png" style="width : 80% ; height : 80%">
            </ion-col>
            <ion-col>
              <img id="maillon4" src="assets/maillon-bleu.png" style="width : 80% ; height : 80%">
            </ion-col>
            <ion-col>
              <img id="maillon6" src="assets/maillon-bleu.png" style="width : 80% ; height : 80%">
            </ion-col>
            <ion-col>
              <img id="maillon8" src="assets/maillon-bleu.png" style="width : 80% ; height : 80%">
            </ion-col>
            <ion-col>
              <img id="maillon10" src="assets/maillon-bleu.png" style="width : 80% ; height : 80%">
            </ion-col>
          </ion-row>  
          
        </ion-grid>
   
  </ion-content>

</ion-content>

